<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>supa</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		
		<link href="/styles/site.css" rel="stylesheet">
		{{#ifeq mobile 'true'}}
		<link href="/styles/msite.css" rel="stylesheet">
		{{/ifeq}}

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>
		
		<!-- set the is mobile variable -->
		<script>var mobile = {{mobile}};</script>
		
		<script src="/js/jquery/jquery-1.11.3.min.js"></script>
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
		<!-- custom JS helper -->
		<script src="/js/index.js"></script>
		
		{{#ifeq mobile 'false'}}
		<div id="header">
			<div id="header-logo">
				<a href="/"><img src="/images/supa-logo.png"></a>
			</div>
			<div id="header-nav">
				<div class="header-nav-el"><a href="shop.supa.ai">Shop</a></div>
				<div class="header-nav-el"><a href="/faq">FAQ</a></div>
				<!--<div class="header-nav-el">Contact</div>-->
				<div id="header-nav-newsletter" class="header-nav-el">
					<div class="header-nav-icon"><a href="" target="_blank"><img src="/images/facebook.png" style="width:30px;"></a></div>					
					<div class="header-nav-icon"><a href="http://www.instagram.com/supa.ai" target="_blank"><img src="/images/instagram.png" style="width:30px;"></a></div>					
					<div class="header-nav-icon"><a href="http://www.twitter.com/supa_ai" target="_blank"><img src="/images/twitter.png" style="width:30px;"></a></div>					
					<div class="header-nav-icon"><a href="http://www.snapchat.com/add/supa.ai" target="_blank"><img src="/images/snapchat.png" style="width:30px;"></a></div>					
				</div>
			</div>
		</div>
		{{/ifeq}}
		
		{{#ifeq mobile 'true'}}
		<div id="header"></div>
		<div id="header-logo">
			<a href="/"><img src="/images/supa-logo.png"></a>
		</div>
		<div id="hamburger" class="header-navigation-action active">&#9776;</div>
		<div id="close-hamburger" class="header-navigation-action">&#x2715;</div>
		<div id="navigation-overlay">
			<div class="navigation-header">
				<div class="absolute-center" style="width:100%;">
					<div id="navigation-contact" class="h1">Contact</div><br>
					<div id="navigation-shop" class="h1">Shop</div><br>
					<div id="navigation-faq" class="h1">FAQ</div><br>
					<div id="navigation-faq" class="h1">Download App</div>	
				</div>
			</div>
			<div class="navigation-footer">
				<div class="row" style="width:80vw;margin-left:10vw;padding-top:12.5vw;">
					<div class="col-xs-3"><a href="" target="_blank"><img src="/images/facebook.png"></a></div>
					<div class="col-xs-3"><a href="" target="_blank"><img src="/images/instagram.png"></a></div>
					<div class="col-xs-3"><a href="" target="_blank"><img src="/images/twitter.png"></a></div>
					<div class="col-xs-3"><a href="" target="_blank"><img src="/images/snapchat.png"></a></div>
				</div>
			</div>
		</div>
		{{/ifeq}}
		
		<!--
		<div id="header">
			<div class="container">
				<div role="navigation" class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
							</button>
							<a href="/" class="navbar-brand">supa</a>
						</div>
						<div class="collapse navbar-collapse">
							<ul class="nav navbar-nav navbar-left">
									{{# each navLinks}}
									<li {{#ifeq ../section key}}class="active"{{else}}{{/ifeq}}>
										<a href="{{ href }}">{{ label }}</a>
									</li>
								{{/each}}
							</ul>
							<ul class="nav navbar-nav navbar-right">
								{{#if user}}
								<li><a href="/keystone/signout">Sign Out</a></li>
								{{else}}
								<li><a href="/keystone/signin">Sign In</a></li>
								{{/if}}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		-->
		<div id="body">
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}
		</div>
		<div id="footer">2014 - 2017 &copy; SUPAspot Inc. All rights reserved.</div>

		{{{isAdminEditorJS user}}}
	</body>
</html>
