<!DOCTYPE html>
<html>
	<head>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-N53H55T');</script>
		<!-- End Google Tag Manager —>
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Supa</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		
		<link href="/styles/site.css" rel="stylesheet">
		{{#ifeq mobile 'true'}}
		<link href="/styles/msite.css" rel="stylesheet">
		{{/ifeq}}

		<!-- ========== META TAGS ========== -->

    <meta name="robots" content="Index,Follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <link rel="canonical" href="http://www.supa.ai">
    <meta name="keywords" content="AI, sensors, wearables, fashion, clothing, data, body, social, emotion, health, sports, fitness, artificial intelligence, brand, motion, sensing, computational fashion, super powers" >
    <meta name="description" content="SUPA is biometrics + sports + fashion + artificial intelligence in a onesie at a dance party.">

    <!--FACEBOOK-->
    <meta property="og:title" content="SUPA" >
    <meta property="og:site_name" content="SUPA">
    <meta property="og:url" content="http://www.supa.ai" >
    <meta property="og:description" content="SUPA is biometrics + sports + fashion + artificial intelligence in a onesie at a dance party." >
    <meta property="og:image" content="/images/supa_social_banner.png" >
    <meta property="og:type" content="" >
    <meta property="og:locale" content="en_US" >
    
    <!--TWITTER-->
    <meta property="twitter:card" content="summary_large_image" >
    <meta property="twitter:title" content="SUPA" >
    <meta property="twitter:description" content="SUPA is biometrics + sports + fashion + artificial intelligence in a onesie at a dance party." >
    <meta property="twitter:creator" content="@supa_ai" >
    <meta property="twitter:url" content="http://www.supa.ai" >
    <meta property="twitter:image" content="/images/supa_social_banner.png" >
    	
    <script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-89544635-1', 'auto');
		  ga('send', 'pageview');
		
		  ga('create', 'UA-67426824-3', 'auto', 'hvTracker');
		  ga('hvTracker.send', 'pageview');
		</script>

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>
		
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N53H55T" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) —>
		
		<script>
			(function (i, s, h, u) {
			i["RokoHostAddress"] = h;
			s.write('<script type="text/javascript" src="' + u + '"><' + '/script>')
			})(window, document, "www.rkm.io", "//www.rkm.io/js/runtime.js");
		</script>
		
		<!-- set the is mobile variable -->
		<script>var mobile = {{mobile}};</script>
		
		<script src="/js/jquery/jquery-1.11.3.min.js"></script>
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
		<!-- custom JS helper -->
		<script src="/js/index.js"></script>
		
		{{#ifeq mobile 'false'}}
		<div id="header">
			<div id="header-logo">
				<a href="/"><img src="/images/supa-logo.png"></a>
			</div>
			<div id="header-nav">
				<div class="header-nav-el"><a target="_blank" href="http://shop.supa.ai">Shop</a></div>
				<div class="header-nav-el"><a target="_blank" href="https://itunes.apple.com/us/app/supa-stickers/id1201743405?ls=1&mt=8" style="color:white;">Get iOS Stickers</a></div>	
				<!--<div class="header-nav-el"><a href="/faq">FAQ</a></div>-->
				<!--<div class="header-nav-el">Contact</div>-->
				<div id="header-nav-newsletter" class="header-nav-el">
					<!--<div class="header-nav-icon"><a href="" target="_blank"><img src="/images/facebook.png" style="width:30px;"></a></div>-->
					<div class="header-nav-icon"><a href="http://www.instagram.com/supa.ai" target="_blank"><img src="/images/instagram.png" style="width:30px;"></a></div>					
					<div class="header-nav-icon"><a href="http://www.twitter.com/supa_ai" target="_blank"><img src="/images/twitter.png" style="width:30px;"></a></div>					
					<!--<div class="header-nav-icon"><a href="http://www.snapchat.com/add/supa.ai" target="_blank"><img src="/images/snapchat.png" style="width:30px;"></a></div>-->
				</div>
			</div>
		</div>
		{{/ifeq}}
		
		{{#ifeq mobile 'true'}}
		<div id="header"></div>
		<div id="header-logo">
			<a href="/"><img src="/images/supa-logo.png"></a>
		</div>
		<div id="hamburger" class="header-navigation-action active">&#9776;</div>
		<div id="close-hamburger" class="header-navigation-action">&#x2715;</div>
		<div id="navigation-overlay">
			<div class="navigation-header">
				<div class="absolute-center" style="width:100%;">
					<!--<div id="navigation-contact" class="h1">Contact</div><br>-->
					<div id="navigation-shop" class="h1"><a target="_blank" href="http://shop.supa.ai" style="color:white;">Shop</a></div><br>
					<!--<div id="navigation-faq" class="h1">FAQ</div><br>-->
					<div id="navigation-faq" class="h1"><a target="_blank" href="https://itunes.apple.com/us/app/supa-stickers/id1201743405?ls=1&mt=8" style="color:white;">Get iOS Stickers</a></div>	
				</div>
			</div>
			<div class="navigation-footer">
				<div class="row" style="width:80vw;margin-left:10vw;padding-top:12.5vw;">
					<!--<div class="col-xs-3"><a href="" target="_blank"><img src="/images/facebook.png"></a></div>-->
					<div class="col-xs-6"><a href="http://www.instagram.com/supa.ai" target="_blank"><img src="/images/instagram.png"></a></div>
					<div class="col-xs-6"><a href="http://www.twitter.com/supa_ai" target="_blank"><img src="/images/twitter.png"></a></div>
					<!--<div class="col-xs-3"><a href="http://www.snapchat.com/add/supa.ai" target="_blank"><img src="/images/snapchat.png"></a></div>-->
				</div>
			</div>
		</div>
		{{/ifeq}}
		
		<!--
		<div id="header">
			<div class="container">
				<div role="navigation" class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
							</button>
							<a href="/" class="navbar-brand">supa</a>
						</div>
						<div class="collapse navbar-collapse">
							<ul class="nav navbar-nav navbar-left">
									{{# each navLinks}}
									<li {{#ifeq ../section key}}class="active"{{else}}{{/ifeq}}>
										<a href="{{ href }}">{{ label }}</a>
									</li>
								{{/each}}
							</ul>
							<ul class="nav navbar-nav navbar-right">
								{{#if user}}
								<li><a href="/keystone/signout">Sign Out</a></li>
								{{else}}
								<li><a href="/keystone/signin">Sign In</a></li>
								{{/if}}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		-->
		<div id="body">
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}
		</div>
		<div id="footer">2017 &copy; SUPAspot Inc. New York. All rights reserved.</div>

		{{{isAdminEditorJS user}}}
	</body>
</html>
