{{!< default}}
<div class="container faq-container">
	{{#each faqs}}
	
	<div class="faq-section">
		<div class="faq-section-header">
			<div class="faq-section-title">{{title}}</div>
			<div class="faq-section-sub-title">{{subTitle}}</div>
			<div class="faq-section-toggle">+</div>
		</div>
		<div class="faq-section-content">
			
			{{#ifeq question1 true}}
			<div class="h4">{{title1}}</div>
			{{#ifexists answerImage1}}
			<img src="{{answerImage1.filename}}" style="max-width: 100%"/><br><br>
			{{/ifexists}}
			<div class="">{{answerText1}}</div>
			<br>
			{{/ifeq}}
			
			{{#ifeq question2 true}}
			<div class="h4">{{title2}}</div>
			{{#ifexists answerImage2}}
			<img src="{{answerImage2.filename}}" style="max-width: 100%"/><br><br>
			{{/ifexists}}
			<div class="">{{answerText2}}</div>
			<br>
			{{/ifeq}}
			
			{{#ifeq question3 true}}
			<div class="h4">{{title3}}</div>
			{{#ifexists answerImage3}}
			<img src="{{answerImage3.filename}}" style="max-width: 100%"/><br><br>
			{{/ifexists}}
			<div class="">{{answerText3}}</div>
			<br>
			{{/ifeq}}		
						
			{{#ifeq question4 true}}
			<div class="h4">{{title4}}</div>
			{{#ifexists answerImage4}}
			<img src="{{answerImage4.filename}}" style="max-width: 100%"/><br><br>
			{{/ifexists}}
			<div class="">{{answerText4}}</div>
			<br>
			{{/ifeq}}
						
			{{#ifeq question5 true}}
			<div class="h4">{{title5}}</div>
			{{#ifexists answerImage5}}
			<img src="{{answerImage5.filename}}" style="max-width: 100%"/><br><br>
			{{/ifexists}}
			<div class="">{{answerText5}}</div>
			<br>
			{{/ifeq}}
						
			{{#ifeq question6 true}}
			<div class="h4">{{title6}}</div>
			{{#ifexists answerImage6}}
			<img src="{{answerImage6.filename}}" style="max-width: 100%"/><br><br>
			{{/ifexists}}
			<div class="">{{answerText6}}</div>
			<br>
			{{/ifeq}}
		</div>
	</div>
	
	<!--
	<div class="tile col-xs-6" style="
		background-image: url('{{backgroundImage.filename}}');
		background-color:{{backgroundColor}};
		color:{{color}};">
		
		{{#ifeq template 1 }}
		<a href="{{buttonUrlT1}}">
			<div class="tile-button
			{{#ifeq buttonPositionT1 'top'}}tile-position-top{{/ifeq}}
			{{#ifeq buttonPositionT1 'center'}}tile-position-center{{/ifeq}}
			{{#ifeq buttonPositionT1 'bottom'}}tile-position-bottom{{/ifeq}}
			{{#ifeq buttonPositionT1 'center-top'}}tile-position-center-top{{/ifeq}}
			{{#ifeq buttonPositionT1 'center-bottom'}}tile-position-center-bottom{{/ifeq}}
			" style="
				background-color:{{backgroundColor}};
				color:{{color}};
				border-color:{{color}};">
				{{buttonTextT1}}	
			</div>
		</a>
		{{/ifeq}}
	</div>
	-->
	
	{{/each}}
</div>