{{!< default}}
<div class="container faq-container">
	{{#each faqs}}
	
	<div class="faq-section">
		<div class="faq-section-header">
			<div class="faq-section-title">{{title}}</div>
			<div class="faq-section-sub-title">{{subTitle}}</div>
			<div class="faq-section-toggle">+</div>
		</div>
		<div class="faq-section-content">
			
			{{#ifeq question1 true}}
			<div class="h4">{{title1}}</div>
			{{#ifexists answerImage1}}
			<img src="{{answerImage1.secure_url}}" style="max-width: 100%"/><br><br>
			{{/ifexists}}
			<div class="">{{answerText1}}</div>
			<br>
			{{/ifeq}}
			
			{{#ifeq question2 true}}
			<div class="h4">{{title2}}</div>
			{{#ifexists answerImage2}}
			<img src="{{answerImage2.secure_url}}" style="max-width: 100%"/><br><br>
			{{/ifexists}}
			<div class="">{{answerText2}}</div>
			<br>
			{{/ifeq}}
			
			{{#ifeq question3 true}}
			<div class="h4">{{title3}}</div>
			{{#ifexists answerImage3}}
			<img src="{{answerImage3.secure_url}}" style="max-width: 100%"/><br><br>
			{{/ifexists}}
			<div class="">{{answerText3}}</div>
			<br>
			{{/ifeq}}		
						
			{{#ifeq question4 true}}
			<div class="h4">{{title4}}</div>
			{{#ifexists answerImage4}}
			<img src="{{answerImage4.secure_url}}" style="max-width: 100%"/><br><br>
			{{/ifexists}}
			<div class="">{{answerText4}}</div>
			<br>
			{{/ifeq}}
						
			{{#ifeq question5 true}}
			<div class="h4">{{title5}}</div>
			{{#ifexists answerImage5}}
			<img src="{{answerImage5.secure_url}}" style="max-width: 100%"/><br><br>
			{{/ifexists}}
			<div class="">{{answerText5}}</div>
			<br>
			{{/ifeq}}
						
			{{#ifeq question6 true}}
			<div class="h4">{{title6}}</div>
			{{#ifexists answerImage6}}
			<img src="{{answerImage6.secure_url}}" style="max-width: 100%"/><br><br>
			{{/ifexists}}
			<div class="">{{answerText6}}</div>
			<br>
			{{/ifeq}}
		</div>
	</div>
	
	{{/each}}
</div>